* {
	margin: 0em;
	padding: 0em;
	font-size: 100%;
	border-style: none;
	list-style-type: none;
}
Table{
	font-family: helvetica,calibri,sans-serif;
	border-collapse: collapse;
	color: #000;
	border: 1px solid #7e062e;
	line-height: 150%;

}

Table th{
  	border: 1px solid #7e062e;
  	background-color: #adad84;
}
Table td{
  	border: 1px solid #7e062e;
  	padding-left: 5px;
}




